<div class="card mb-1">
    <div class="card-body">
        <span class="handle btn btn-outline-secondary mr-3 pt-3 pb-3 float-left">{{ FA('arrows-alt-v') }}</span>
        <a href="" class="btn btn-outline-danger float-right">{{ FA('trash-alt') }}</a>
        <a href="" class="btn btn-outline-success float-right mr-1">{{ FA('pen') }}</a>
        <h5 class="card-title">Category title</h5>
        <h6 class="card-title mb-0">Category subtitle</h6>
    </div>
</div>
