{{ set(this, 'title', Yii.t('podium.admin.header', 'category.add')) }}
<h1 class="mb-3">
    {{ FA('plus') }} {{ Yii.t('podium.admin.header', 'category.add') }}
</h1>

{% include 'category-form.twig' %}