{{ set(this, 'title', Yii.t('podium.admin.header', 'category.update')) }}
<h1 class="mb-3">
    {{ FA('pen') }} {{ Yii.t('podium.admin.header', 'category.update') }}
</h1>

{% include 'category-form.twig' %}