<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="#" class="list-group-item">{{ Yii.t('podium.client.link', 'admin.members') }}</a>
        <a href="#" class="list-group-item">{{ Yii.t('podium.client.link', 'admin.threads') }}</a>
        <a href="#" class="list-group-item">{{ Yii.t('podium.client.link', 'admin.posts') }}</a>
    </div>
</div>