<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="#" class="list-group-item">
            <span class="badge"><i class="glyphicon glyphicon-user"></i></span>
            {{ Yii.t('podium.client.link', 'admin.members') }}
        </a>
        <a href="#" class="list-group-item">
            <span class="badge"><i class="glyphicon glyphicon-folder-open"></i></span>
            {{ Yii.t('podium.client.link', 'admin.threads') }}
        </a>
        <a href="#" class="list-group-item">
            <span class="badge"><i class="glyphicon glyphicon-comment"></i></span>
            {{ Yii.t('podium.client.link', 'admin.posts') }}
        </a>
        <a href="#" class="list-group-item">
            <span class="badge"><i class="glyphicon glyphicon-cog"></i></span>
            {{ Yii.t('podium.client.link', 'admin.settings') }}
        </a>
    </div>
</div>
