<div class="col-3">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Link</a>
        <a href="#" class="list-group-item list-group-item-action">Link</a>
        <a href="#" class="list-group-item list-group-item-action">Link</a>
        <a href="#" class="list-group-item list-group-item-action">Link</a>
    </div>
</div>